:root {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    min-width: 375px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #F5F5F5;
}

.splash-page {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    background-image: url(./images/Splash-logo.png);
    background-color: #253172;
    z-index: 2;
}

.page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header {
    width: 100%;
    padding: 2%  5%;
    z-index: 1;
    box-shadow: 0 5px 5px #00000050;
    position: sticky;
    top: 0;
    background-color: #253172;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2 {
    letter-spacing: 0.1em;
    font-size: 1.25rem;
    color: #F5F5F5;
}

nav {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}

a {
    font-family: sans-serif;
    text-decoration: none;
    color: #F5F5F5;
    font-size: 1rem;
    padding: 2% 0;
    transition: .75s;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
}

nav a:hover {
    border-color: #F5F5F5;
}
nav a:last-of-type {
    background-color: #F5F5F5;
    color: #253172;
    padding: 2% 4%;
    border-radius: 10px;
    transition: .75s;
}

nav a:last-of-type:hover {
    box-shadow: 0 0 10px #F5F5F5;
    transform: scale(1.1);
}


main {
    width: 100%;
}

section {
    padding: 5% 0;
    color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
}

section h2 {
    font-size: 3rem;
}

.hero {
    background: linear-gradient(0deg, #725325, #00000000, #00000000), url(./images/desert.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logo {
    width: 40%;
}

h1 {
    color: #253172;
    width: 50%;
    text-align: center;
    font-size: 2.5rem;
}

p {
    color: #F5F5F5;
    width: 60%;
    margin: 2% 0;
    text-align: center;
    font-size: 1.25rem;
    font-family: sans-serif;
    line-height: 1.5em;
}

h3 {
    font-size: 1.5rem;
    color: #F5F5F5;
}

.water {
    background-color: #F5F5F5;
}

.water h2, .water p, .water a, .practice-areas h2, .practice-areas p {
    color: #253172;
}

.water a {
    font-size: 1.25rem;
    padding: 1% 0;
    color: #1f1fcc;
    font-weight: 600;
    font-style: italic;
}

.legal-svcs {
    background-color: #253172;
    flex-direction: row;
    padding: 5%;
    align-items: flex-start;
}

.legal-svcs img {
    width: 40%;
    object-fit: cover;
}

.attorneys {
    background-image: url(./images/IMG_0806.jpg);
    width: 40%;
    height: 80vh;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: 250%;
    background-position: 62% 90%;
}

.legal-svcs-content {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    gap: 2em;
}

.legal-svcs h2, .legal-svcs p {
    text-align: right;
}

.legal-svcs p {
    width: 100%;
}

.page-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2em;
}

.page-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

i {
    font-size: 2rem;
}
.practice-areas {
    background-color: #F5F5F5;
}

.practice-areas p {
    margin-bottom: 0;
}

.practice-cards {
    width: 90%;
    margin: 2% 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.practice-card {
    width: 22%;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    filter: drop-shadow(0 4px 5px rgba(0, 0, 0, 0.5));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.practice-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    object-position: center;
}

.practice-card:last-of-type img {
    object-position: top;
}

.practice-card h3 {
    color: #253172;
    font-family: sans-serif;
    margin: 4% 0;
}

.practice-card p {
    width: 100%;
    padding: 0 4% 10%;
    font-size: 1rem;
    text-align: left;
}

footer {
    width: 90%;
    background-color: #F5F5F5;
    color: #253172;
    padding: 3% 0;
    border-top: 2px solid;
    border-bottom: 2px solid;
    font-family: sans-serif;
}

.footer-content {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    gap: 1em;
}

.footer-content img {
    width: 100%;
}

.footer-content i {
    font-size: 1.5rem;
}

.content-group {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-group h3 {
    color: #253172;
    font-size: .8rem;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1em;
}

.vanish {
    animation: vanish 1s 2s linear forwards;
}
/* splash page animation */
@keyframes vanish {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}